* {
    color: white;
    margin: 0;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
body{
    background-color: black;
}
/****** HEADER by Jihyun ******/

.oHead {
    width: 100%;
    margin: 0;
    height: 70px;
}

.iHead {
    display: flex;
    width: 60%;
    height: 70px;
    margin: auto;
}

.logo {
    width: 15%; 
    height: 70px;
}

.oSearch {
    width: 60%; 
    height: 50px;
    padding: 1.5% 0 0 1%; 
}

.iSearch {
    display: flex;
    width: 60%; 
    height: 80%;
    background-color: #181817;
    border-radius: 10px;
    align-items: center;
}

.searchIcon {
    background-color: #181817;
    width: 18px; 
    height: 18px;
    margin: 0 3%; 
}

input {
    flex: 1;
    height: 20px;
    border: none;
    background-color: transparent;
    color: rgb(242, 242, 242);
    font-size: 100%; 
}

.signIn {
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1em; 
}

.signIn a {
    text-decoration: none;
}

/****** NAV by Jihyun ******/

.oNav {
    width: 100%;
    height: 50px;
}

.iNav {
    display: flex;
    width: 60%;
    height: 50px;
    margin: auto;
    align-items: center;
    font-size: 1em; 
}

.iNav div {
    width: auto;
    display: inline-block;
    margin-right: 40px;
}
.iNav img {
    display: inline-block;
}

/****** SECTION1 by Jihyun ******/

.mainImage{
    background-image: url('https://media.wonderwall.kr/home_banner/image/26/133162_1694164273697');
    background-size: 100% 660px;
    width: 100%;
    height: 660px;
    display: flex;
    align-items: center;
    justify-content: left;
    float: left;
    margin-bottom: 2%;
}
.mainImgNav{
    width: 9%;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 3px 10px;
    font-weight: bold;
    margin-top: 60%;
    margin-bottom: 2%;
    margin-left: 52%;
}
.mainImgTitle1{
    width: 100%;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2%;
    margin-left: 52%;
}
.mainImgTitle2{
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2%;
    margin-left: 52%;
}
.arrowLeft {
    position: absolute;
    width: 2%;
    height: 2%;
    top: 1035px;
    right: 21%;
    padding: 10px 13px;
    background-color: transparent;
    transform: rotate(-180deg);
}

.nowPage {
    position: absolute;
    top: 1030px;
    right: 20.5%; 
    padding: 10px 13px;
    font-size: 2em; 
    color: rgb(255, 255, 255); 
    background-color: transparent;
}

.pageSlash {
    position: absolute;
    top: 1038px;
    right: 19.6%; 
    padding: 10px 13px;
    font-size: 1.5em; 
    color: rgb(255, 255, 255); 
    background-color: transparent;
}

.totalPage {
    position: absolute;
    top: 1030px;
    right: 18.5%; 
    padding: 10px 13px;
    font-size: 2em; 
    color: rgb(255, 255, 255); 
    background-color: transparent;
}

.arrowRight {
    position: absolute;
    width: 2%;
    height: 2%;
    top: 1035px;
    right: 16.5%; 
    padding: 10px 13px;
    background-color: transparent;
}

/****** SECTION2 by Yeonju ******/
.fourButton{
    text-align: center;
    margin-bottom: 10%;
}
button{
    background-color: rgb(33, 33, 33);
    color: aliceblue;
    border: 25px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
#bu{
    width: 270px; height: 80px; margin-right: 20px;
    text-align: left;
    padding-left: 30px;
}
.newEvent{
    text-align: center;
    margin : 2% 0 2% 0;
}
.textOnImg{
    text-align: center;
    margin : 2% 0 2% 0;
}
.background-wrap {
    background-image: url('https://media.wonderwall.kr/home_news/thumbnail/33/133162_1684821298904');
    background-size: 615px 660px;
    width: 615px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 25px;
}
.content {
    margin-top: 400px;
    flex-direction: column;
}

.content span:nth-child(1) {
    font-size: 280px;
    font-weight: bold;
}

.content span:nth-child(2) {
    font-size: 23px;
}
.background-wrap2 {
    background-image: url('https://media.wonderwall.kr/home_news/thumbnail/32/133162_1682495709910');
    background-size: 615px 660px;
    width: 615px;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.content2 {
    margin-top: 400px;
    flex-direction: column;
}

.content2 span:nth-child(1) {
    font-size: 280px;
    font-weight: bold;
}

.content2 span:nth-child(2) {
    font-size: 23px;
}
#b{
    margin-top: 7px;
    color: rgb(200, 200, 200);
    font-size: 13px;
}
#d{
    opacity:0; 

}
#e{
    color: rgb(188, 188, 188);
    font-size: 16px;
}
#f{
    width: 280px; height: 55px; text-align: center; background-color: rgb(100, 100, 100, 0.771);
    font-size: 16px;
}
.textOnImg {
    display: flex;
    justify-content: center; /* 가로 가운데 정렬 */
}
.class{
    margin:auto;
}

/****** SECTION3 by Hyojin ******/

.banner {
    display: flex;
    align-items: center;
    width: 66%;
    margin: 10% auto;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: url('https://media.wonderwall.kr/home_sub_banner/image/3/133162_1655874676741') center/cover no-repeat; /* 이미지를 배경 이미지로 설정 */
}

.bannerContent {
    color: rgb(242, 242, 242);
    position: relative;
    z-index: 1; /* 텍스트를 이미지 위에 표시하기 위해 z-index 설정 */
    margin-left: 5%;
}

ul {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.bannerLeftPoint, .bannerRightPoint {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
    opacity: 50%;
}

.bannerLeftPoint:hover, .bannerRightPoint:hover {
    opacity: 100%;
}

/****** SECTION4 by Hyojin ******/

.discoverYourArtist {
    display: flex;
    width: 100%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10.1875rem;
    margin-bottom: 11.375rem;
    color: rgb(242, 242, 242);
}
.b{
    width: 252px; height: 323px;
    overflow: hidden;
    margin-right: 1.58%;
    margin-bottom: 1.58%;
    border-radius: 0.6337rem;
    isolation: isolate;
    background-image: url(https://media.wonderwall.kr/home_content/thumbnail/20/133162_1677483815793);
    background-repeat: no-repeat; 
    background-size: 252px 323px;
    position: relative;
    right: 230px;
    top: 30px;
}
.cgoALA {
    position: relative;
    top: 16px;
    right: 1.25rem;
    left: 210px;
    width: 1.25rem;
    height: 1.25rem;

}
.b2{
    width: 252px; height: 323px;
    overflow: hidden;
    margin-right: 1.58%;
    margin-bottom: 1.58%;
    border-radius: 0.6337rem;
    isolation: isolate;
    background-repeat: no-repeat; 
    background-size: 252px 323px;
    position: relative;
    right: -40px;
    top: -297px;
    background-image: url(https://media.wonderwall.kr/home_content/thumbnail/19/133162_1675848124478);
}
.b3{
    width: 252px; height: 323px;
    overflow: hidden;
    margin-right: 1.58%;
    margin-bottom: 1.58%;
    border-radius: 0.6337rem;
    isolation: isolate;
    background-repeat: no-repeat; 
    background-size: 252px 323px;
    position: relative;
    right: -310px;
    top: -622px;
    background-image: url(https://media.wonderwall.kr/home_content/thumbnail/18/133162_1672825394163)
}
.bICLjD {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 31.71%;
    background: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgba(4, 4, 4, 0.035) 82.67%, rgba(46, 40, 23, 0) 85.8%);
}
.bJWGjP {
    padding: 0.5rem 0px 1rem;
}
.bJWGjP {
    position: absolute;
    bottom: 0px;
    padding: 1rem 0px 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(242, 242, 242);
}
.gIDdFC {
    margin-bottom: 0.125rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
}
.fpxwtl {
    font-size: 0.875rem;
    line-height: 1.375rem;
}
.b:hover{
    opacity: 80%;
}
.b2:hover{
    opacity: 80%;
}
.b3:hover{
    opacity: 80%;
}
.dBeOAO {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}
.hheQJi .clickable {
    cursor: pointer;
}
.eXyzEY {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 3rem;
}
.eXyzEY .btn {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.hYWUoU {
    height: 0.375rem;
    margin-left: 0.5rem;
    margin-bottom: -0.3rem;
}

/****** FOOTER by Jihyun ******/

.oFooter {
    display: flex;
    width: 100%;
    height: 350px;
}

.iFooter {
    display: flex;
    width: 65%;
    height: 350px;
    margin: auto;
}
.leftInfo{
    width: 60%;
}

.footerLogo{
    width: 100%; 
    height: 23px;
    margin: 0px 0px 1rem 0px;
}

.footerLogo img{
    width: 35%;
}

.infoLink{
    width: 100%;
    height: 100px;
    display: flex;
    max-width: 50rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    opacity: 0.5;
}

.infoLink a{
    margin: 0px 1rem 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
}

.companyName{
    margin-top: 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.5;
}

.companyInfo{
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.64;
    opacity: 0.5;
}

.copyright{
    margin-top: 1.25rem;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.64;
    opacity: 0.5;
}

.rightInfo{
    width: 35%;
    margin-left: auto;
}

.snsTitle{
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    height: 34px;
    margin: 0px 0px 0px 0px;
}

.snsImg{
    display: flex;
    margin-top: 0.5rem;
}

.snsImg img{
    width: 10%;
    height: 10%;
    margin-right: 1.5rem;
    object-fit: contain;
}
.langList, .currencyList {
    display: flex;
    width: 40%;
    padding: 0.9rem 0.5rem;
    border: 1px solid rgb(98, 98, 98);
    margin-top: 2rem;
    justify-content: center;
    align-items: center; /* 이미지 및 텍스트 중앙 정렬 */
}

.langName, .currencyName {
    margin: 0px 0.75rem;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 텍스트가 테두리를 벗어나지 않도록 설정 */
    text-overflow: ellipsis; /* 텍스트 오버플로우 시 마침표로 대체 */
}

.langArrow, .currencyArrow {
    width: 1rem;
    margin-left: 0.25rem; /* 좌우 여백 조정 */
}


