* {
    color: white;
    margin: 0;
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
body{
    background-color: black;
}
/****** HEADER by Jihyun ******/

.oHead {
    width: 100%;
    margin: 0;
    height: 70px;
}

.iHead {
    display: flex;
    width: 65%;
    height: 70px;
    margin: auto;
}

.logo {
    width: 15%; 
    height: 70px;
}

.oSearch {
    width: 30%; 
    height: 50px;
    padding: 1.5% 0 0 1%; 
}

.iSearch {
    display: flex;
    width: 100%; 
    height: 80%;
    background-color: #181817;
    border-radius: 10px;
    align-items: center;
}

.searchIcon {
    background-color: #181817;
    width: 18px; 
    height: 18px;
    margin: 0 3%; 
}

input {
    flex: 1;
    height: 20px;
    border: none;
    background-color: transparent;
    color: rgb(242, 242, 242);
    font-size: 100%; 
}

.signIn {
    width: auto;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 1em; 
}

.signIn a {
    text-decoration: none;
}

/****** NAV by Jihyun ******/

.oNav {
    width: 100%;
    height: 50px;
}

.iNav {
    display: flex;
    width: 65%;
    height: 50px;
    margin: auto;
    align-items: center;
    font-size: 1em; 
}

.iNav div {
    width: auto;
    display: inline-block;
    margin-right: 40px;
}
.iNav img {
    display: inline-block;
}

/****** SECTION1 by Jihyun ******/

.mainImage{
    background-image: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgba(4, 4, 4, 0.035) 60%, rgba(46, 40, 23, 0) 70%), url('image/mamamoo.jpg');
    width: 100%; height: 600px;
    background-size: cover;
    display: flex;
    position: relative;
    margin-bottom: 3rem;
}
.oMainImgTitleBox{
    position: absolute;
    z-index: 1;
    bottom: 4rem;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 1.5rem;
    color: rgb(242, 242, 242);
}
.iMainImgTitleBox{
    width: 100%;
    max-width: 73rem;
}
.mainImgNav{
    width: 4rem;
    padding: 0.25rem 0.4rem;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.mainImgTitle1{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.mainImgTitle2{
    font-weight: 500;
    font-size: 1.3rem;
    opacity: 60%;
}
.page{
    margin-left: 75%; /* 오른쪽 정렬을 위해 추가 */
    display: inline-block;
}
.mainImgLeftArrow{
    width: 0.8rem;
    height: 0.8rem;
    transform: rotate(-180deg);
    margin: 0 0.2rem 0 0.2rem;
    justify-content: center;
    align-items: center;
}
.nowPage, .totalPage, .page>span{
    display: inline-block;
    font-size: 1rem;
}
.mainImgRightArrow{
    width: 0.8rem;
    height: 0.8rem;
    margin: 0 0.2rem 0 0.2rem;
    justify-content: center;
    align-items: center;
}

/****** SECTION2 by Yeonju ******/
.linkFourBox{
    display: flex;
    width: 65%;
    box-sizing: border-box;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.linkBox{
    display: flex;
    width: 280px;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    background-color: rgb(33, 33, 33);
    border-radius: 0.5rem;
    text-decoration: none;
}
.linkBoxTitle{
    margin-bottom: 0.6875rem;
    color: rgb(242, 242, 242);
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.linkBoxSubTitle{
    color: rgb(242, 242, 242);
    font-size: 0.875rem;
    opacity: 80%;
}
/*
.fourButton{
    text-align: center;
    margin-bottom: 6%;
}
button{
    background-color: rgb(33, 33, 33);
    color: aliceblue;
    border: 25px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
#bu{
    width: 270px; height: 80px; margin-right: 20px;
    text-align: left;
    padding-left: 30px;
}
*/

/****** SECTION3 by Yeonju ******/
.newsEvent{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 2rem;
    text-align: center;
    margin-top: 7.5rem;
}
.newsEventSubTitle{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8)
}
/*
.newEvent{
    text-align: center;
    margin : 2% 0 2% 0;
}
.newEvent>p{
    margin-top: 0.5%;
}
*/
.newsEventContents{
    display: flex;
    justify-content: center; 
    text-align: center;
    height: 600px;
    margin : 3rem 0 7rem 0;
}
.newsEventContentImgLeft, .newsEventContentImgRight{
    background-size: 100% 100%;
    width: 31.5%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    /*background-position: center center;*/
    /* -webkit-box-pack: center;
    justify-content: center; */
}
.newsEventContent {
    bottom: 0px;
    position: absolute;
    display: flex;
    width: 74%;
    box-sizing: border-box;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(242, 242, 242);
}
.newsEventNav{
    width: 4rem;
    padding: 0.25rem 0.4rem;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.newsEventTitle{
    margin: 0 0 1rem 0;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.5px; /*글자 사이의 간격을 조절*/
    line-height: 1.75rem; /*텍스트 줄 간의 높이*/
}
.newsEventSubTitle{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    letter-spacing: -0.5px;
    line-height: 1.5rem;
    opacity: 0.8;
    text-align: center;
}
.needMoreButton{
    width: 58.15%;
    padding: 0.875rem 0px;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 0.25rem;
    color: rgb(242, 242, 242);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.5rem;
    text-align: center;
}
/* .newsEventContentLeft span:nth-child(1) {
    font-size: 280px;
    font-weight: bold;
}

.newsEventContentLeft span:nth-child(2) {
    font-size: 23px;
} */

/* .newsEventContentRight {
    margin-top: 400px;
    flex-direction: column;
}

.newsEventContentRight span:nth-child(1) {
    font-size: 280px;
    font-weight: bold;
}

.newsEventContentRight span:nth-child(2) {
    font-size: 23px;
} */

/* #b{
    margin-top: 7px;
    color: rgb(200, 200, 200);
    font-size: 13px;
}
#d{
    opacity:0; 

}
#e{
    color: rgb(188, 188, 188);
    font-size: 16px;
}
#f{
    width: 280px; height: 55px; text-align: center; background-color: rgb(100, 100, 100, 0.771);
    font-size: 16px;
}

.class{
    margin:auto;
} */

/****** SECTION4 by Hyojin ******/

.banner {
    display: flex;
    align-items: center;
    width: 65%;
    margin: auto;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background: url('https://media.wonderwall.kr/home_sub_banner/image/3/133162_1655874676741') center/cover no-repeat; /* 이미지를 배경 이미지로 설정 */
}

.bannerContent {
    color: rgb(242, 242, 242);
    position: relative;
    z-index: 1; /* 텍스트를 이미지 위에 표시하기 위해 z-index 설정 */
    margin-left: 5%;
}
.bannerTitle{
    margin-bottom: 0.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 1.95rem;
}
.bannerSubTitle{
    font-size: 1rem;
    opacity: 70%;
}
ul {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.bannerLeftPoint, .bannerRightPoint {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: white;
    opacity: 50%;
}

.bannerLeftPoint:hover, .bannerRightPoint:hover {
    opacity: 100%;
}

/****** SECTION5 by Hyojin ******/
.discoverYourArtist{
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 15rem;
}
.discoverYourArtistTitle{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 2rem;
    text-align: center;
}
.discoverYourArtistSubTitle{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8)
}
.liveClipBox {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    height: 500px;
}

.liveClipImg {
    width: 21.5%;
    height: 100%;
    overflow: hidden;
    margin: 0 1rem 0 0;
    border-radius: 0.6337rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.liveClipImgRight{
    width: 19.5%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
    border-radius: 0.6337rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: center center;*/
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.liveClipPlayButton {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 1.25rem;
    height: 1.25rem;
}

.liveClipContents {
    position: absolute;
    bottom: 0px;
    width: 80%;
    padding: 1rem 0px 1.25rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    color: rgb(242, 242, 242);
    font-family: "Noto Sans KR", serif;
}

.liveClipContentsTitle {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    letter-spacing: -0.5px;
    line-height: 1.5rem;
    opacity: 0.8;
}

.liveClipContentsArtistName {
    overflow: hidden;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.625rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.liveClipItem:hover {
    opacity: 0.8;
}

.oMore {
    width: 100%;
    margin-top: 4rem;
}

.iMore {
    display: flex;
    width: auto;
    justify-content: center;
}

.moreTitle {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.5px;
    display: inline-block;
    width: auto;
}

.moreArrow {
    display: inline-block;
    width: 1rem;
    margin-left: 0.5rem;
}

/****** FOOTER by Jihyun ******/

.oFooter {
    display: flex;
    width: 100%;
    height: 350px;
}

.iFooter {
    display: flex;
    width: 64%;
    height: 350px;
    margin: auto;
}
.leftInfo{
    width: 60%;
}

.footerLogo{
    width: 100%; 
    height: 23px;
}

.footerLogo img{
    width: 35%;
}

.infoLink{
    height: 60px;
    display: flex;
    max-width: 33rem;
    flex-wrap: wrap;
    opacity: 0.5; /*불투명도*/
}

.infoLink a{
    margin: 8px 16px 0px 0px;
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: none;
}

.companyName{
    margin-top: 1.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.5;
}

.companyInfo{
    margin-top: 1rem;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.64;
    opacity: 0.5;
}

.copyright{
    margin-top: 1.25rem;
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 1.64;
    opacity: 0.5;
}

.rightInfo{
    width: 35%;
    margin-left: auto;
}

.snsTitle{
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    height: 34px;
    margin: 0px 0px 0px 0px;
}

.snsImg{
    display: flex;
    margin-top: 0.5rem;
}

.snsImg img{
    width: 8%;
    height: 8%;
    margin-right: 1rem;
    object-fit: contain;
}
.langList{
    display: flex;
    width: 35%;
    padding: 0.9rem 0.5rem;
    border: 1px solid rgb(98, 98, 98);
    margin-top: 2rem;
    justify-content: left;
}
.currencyList {
    display: flex;
    width: 35%;
    padding: 0.9rem 0.5rem;
    border: 1px solid rgb(98, 98, 98);
    margin-top: 1rem;
    justify-content: left;
}
.langImg, .currencyImg{
    margin: 2px 0 0 10px;
    width: 11%;
    height: 11%;
}
.langName, .currencyName {
    margin: 0px 0.75rem;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 텍스트가 테두리를 벗어나지 않도록 설정 */
    text-overflow: ellipsis; /* 텍스트 오버플로우 시 마침표로 대체 */
    justify-content: center;
    opacity: 0.8; /*불투명도*/
}

.langArrow, .currencyArrow {
    width: 1rem;
    margin-left: 2rem; /* 좌우 여백 조정 */
    opacity: 0.7; /*불투명도*/
}


